In [1]:
import pandas as pd

In [2]:
smoking = pd.read_csv('smoking_cleaned.csv')
smoking.head()

,gender,age,marital_status,highest_qualification,nationality,ethnicity,region,avg_salary,smoke
0,Male,38,Divorced,No Qualification,British,White,The North,3900.0,No
1,Female,42,Single,No Qualification,British,White,The North,1300.0,Yes
2,Male,40,Married,Degree,English,White,The North,32500.0,No
3,Female,40,Married,Degree,English,White,The North,13000.0,No
4,Female,39,Married,GCSE/O Level,British,White,The North,3900.0,No

In [3]:
from autogluon.tabular import TabularDataset, TabularPredictor

In [7]:
train_data = smoking.iloc[:1300]

In [9]:
test_data = smoking.iloc[1300:]

In [10]:
label = 'smoke'

In [11]:
predictor = TabularPredictor(label=label).fit(train_data)

No path specified. Models will be saved in: "AutogluonModels\ag-20240409_213801"
No presets specified! To achieve strong results with AutoGluon, it is recommended to use the available presets.
	Recommended Presets (For more details refer to https://auto.gluon.ai/stable/tutorials/tabular/tabular-essentials.html#presets):
	presets='best_quality'   : Maximize accuracy. Default time_limit=3600.
	presets='high_quality'   : Strong accuracy with fast inference speed. Default time_limit=3600.
	presets='good_quality'   : Good accuracy with very fast inference speed. Default time_limit=3600.
	presets='medium_quality' : Fast training time, ideal for initial prototyping.
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20240409_213801"
=================== System Info ===================
AutoGluon Version:  1.0.0
Python Version:     3.11.8
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22635
CPU Count:          8
Memory Avail:       8.78 GB / 15.84 GB (55.4%)
Disk Space Avail:   777.97 GB / 931.51 GB (83.5%)
===================================================
Train Data Rows:    1300
Train Data Columns: 8
Label Column:       smoke
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  ['No', 'Yes']
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Problem Type:       binary
Preprocessing data ...
Selected class <--> label mapping:  class 1 = Yes, class 0 = No
	Note: For your binary classification, AutoGluon arbitrarily selected which label-value represents positive (Yes) vs negative (No) class.
	To explicitly set the positive_class, either rename classes to 1 and 0, or specify positive_class in Predictor init.
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    8988.80 MB
	Train Data (Original)  Memory Usage: 0.50 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 1 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 1 | ['avg_salary']
		('int', [])    : 1 | ['age']
		('object', []) : 6 | ['gender', 'marital_status', 'highest_qualification', 'nationality', 'ethnicity', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 5 | ['marital_status', 'highest_qualification', 'nationality', 'ethnicity', 'region']
		('float', [])     : 1 | ['avg_salary']
		('int', [])       : 1 | ['age']
		('int', ['bool']) : 1 | ['gender']
	0.1s = Fit runtime
	8 features in original data used to generate 8 features in processed data.
	Train Data (Processed) Memory Usage: 0.03 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.09s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 1040, Val Rows: 260
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	0.7423	 = Validation score   (accuracy)
	1.51s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.7308	 = Validation score   (accuracy)
	0.0s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBMXT ...
C:\Users\Rudra\miniconda3\envs\myenv\Lib\site-packages\dask\dataframe\__init__.py:31: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)
	0.7731	 = Validation score   (accuracy)
	1.04s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: LightGBM ...
	0.7769	 = Validation score   (accuracy)
	0.35s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: RandomForestGini ...
	0.7115	 = Validation score   (accuracy)
	0.55s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.7	 = Validation score   (accuracy)
	0.45s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: CatBoost ...
	0.7731	 = Validation score   (accuracy)
	5.3s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.7231	 = Validation score   (accuracy)
	0.45s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.7231	 = Validation score   (accuracy)
	0.45s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
No improvement since epoch 1: early stopping
	0.7654	 = Validation score   (accuracy)
	2.25s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: XGBoost ...
	0.7808	 = Validation score   (accuracy)
	1.2s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.7692	 = Validation score   (accuracy)
	5.19s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBMLarge ...
	0.7731	 = Validation score   (accuracy)
	0.56s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	Ensemble Weights: {'XGBoost': 0.706, 'NeuralNetFastAI': 0.235, 'LightGBMXT': 0.059}
	0.7885	 = Validation score   (accuracy)
	0.61s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 22.35s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20240409_213801")

In [13]:
predictor.feature_importance(train_data)

Computing feature importance via permutation shuffling for 8 features using 1300 rows with 5 shuffle sets...
	42.1s	= Expected runtime (8.42s per shuffle set)
	2.33s	= Actual runtime (Completed 5 of 5 shuffle sets)

                       importance    stddev   p_value  n  p99_high   p99_low
age                      0.056308  0.010539  0.000141  5  0.078007  0.034608
marital_status           0.032769  0.003199  0.000011  5  0.039357  0.026181
avg_salary               0.032462  0.004466  0.000042  5  0.041656  0.023267
highest_qualification    0.027231  0.006653  0.000396  5  0.040929  0.013532
region                   0.016000  0.003500  0.000258  5  0.023206  0.008794
nationality              0.006923  0.003353  0.004952  5  0.013827  0.000019
gender                   0.005077  0.002282  0.003812  5  0.009775  0.000378
ethnicity                0.000923  0.000344  0.001941  5  0.001631  0.000215

In [15]:
y_pred = predictor.predict(test_data.drop(columns=[label]))
y_pred

1300    No
1301    No
1302    No
1303    No
1304    No
        ..
1686    No
1687    No
1688    No
1689    No
1690    No
Name: smoke, Length: 391, dtype: object

In [16]:
test_data

,gender,age,marital_status,highest_qualification,nationality,ethnicity,region,avg_salary,smoke
1300,Female,66,Divorced,No Qualification,English,White,South East,1300.0,No
1301,Male,50,Divorced,Other/Sub Degree,English,White,South East,7800.0,Yes
1302,Female,55,Divorced,No Qualification,English,White,South East,7800.0,No
1303,Female,36,Married,A Levels,English,White,South West,1300.0,Yes
1304,Male,79,Married,No Qualification,Irish,White,South West,0.0,No
...,...,...,...,...,...,...,...,...,...
1686,Male,22,Single,No Qualification,Scottish,White,Scotland,3900.0,No
1687,Female,49,Divorced,Other/Sub Degree,English,White,Scotland,3900.0,Yes
1688,Male,45,Married,Other/Sub Degree,Scottish,White,Scotland,7800.0,No
1689,Female,51,Married,No Qualification,English,White,Scotland,3900.0,Yes
1690,Male,31,Married,Degree,Scottish,White,Scotland,13000.0,No

In [ ]:
from pycaret.